#bookmarkListContainer {
  background-color: white;
  color: black;
  border-radius: 6px;
  width: 320px;
  overflow: hidden;

  ul {
    overflow: auto;
    max-height: 150px;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      padding: 10px;
      list-style: none;

      &:hover {
        background-color: #eaeaea;
      }
    }
  }
}
