#backLink {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  z-index: 30;

  img {
    width: 40px;
    margin-right: 10px;
  }
}

#roverContainer {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: #252525;

  #banner {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: local;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #202020;
      z-index: 0;
      opacity: 0.5;
    }

    .information {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-weight: 800;
        font-size: 2.3rem;
        margin: 0;
        text-transform: uppercase;
        text-shadow: 0px 0px 8px black;
      }

      .line {
        height: 6px;
        width: 300px;
        max-width: 90%;
        margin: 10px auto;
        background-color: white;
      }

      .info-box {
        position: relative;
        max-width: 60%;
        text-align: center;

        div {
          position: relative;
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }

  #filter {
    margin-top: 30px;

    .aligner {
      display: flex;
      align-items: end;
      justify-content: center;
      margin-bottom: 15px;
    }

    .form-group {
      display: inline-block;
      margin-right: 15px;

      label {
        display: block;
        padding-left: 15px;
        margin-bottom: 5px;
      }

      input,
      select {
        display: block;
        width: 150px;
        appearance: unset;
        border-radius: 25px;
        outline: none;
        background-color: white;
        padding: 0 10px;
        height: 40px;
        border: none;
        box-shadow: 0px 0px 25px -10px black;
      }
    }

    button {
      margin-right: 15px;
      width: 100px;
      appearance: unset;
      border-radius: 25px;
      outline: none;
      background-color: white;
      padding: 0 10px;
      height: 40px;
      border: none;
      box-shadow: 0px 0px 25px -10px black;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: 22px;
        margin-right: 8px;
      }

      &.savedFilters {
        width: 180px;
      }

      &:hover {
        background-color: #d8d7d7;
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }

  #content {
    position: relative;
    width: 100%;

    #photosContainer {
      padding: 0;
      margin: 0;
      width: 100%;
      display: grid;
      position: relative;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(400px, 400px);
      overflow: hidden;

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(auto);
      }
    }
  }
}
