<a id="backLink" routerLink="/rovers">
  <img src="/assets/back.svg" alt="Go back button" />
  All Rovers
</a>

<div id="roverContainer" *ngIf="rover">
  <div
    id="banner"
    *ngIf="rover.slug"
    [ngStyle]="{
      'background-image': 'url(/assets/rovers/' + rover.slug + '.jpg)'
    }"
  >
    <div class="overlay"></div>

    <div class="information" *ngIf="rover && rover.manifest">
      <h2 class="title">{{ rover.name.toLocaleUpperCase() }}</h2>
      <div class="line"></div>
      <div class="info-box">
        <div>&bull; {{ rover.manifest?.total_photos }} photos</div>
        <div>&bull; Launch on: {{ rover.manifest?.launch_date }}</div>
        <div>&bull; Land on: {{ rover.manifest?.landing_date }}</div>
        <div>&bull; {{ rover.manifest?.status?.toLocaleUpperCase() }}</div>
      </div>

      <div id="filter">
        <div *ngIf="rover && rover.manifest">
          <div class="aligner">
            <div class="form-group">
              <label for="camera">Camera</label>
              <select
                class="form-control"
                id="camera"
                required
                [compareWith]="compareFunction"
                [(ngModel)]="selectedCamera"
              >
                <option selected [ngValue]="{}">All cameras</option>
                <option *ngFor="let camera of rover.cameras" [ngValue]="camera">
                  ({{ camera.name }}) {{ camera.full_name }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="camera">Date type</label>
              <select
                class="form-control"
                id="dateType"
                required
                [(ngModel)]="dateType"
              >
                <option value="earth">Earth Date</option>
                <option value="sol">Sol Date</option>
              </select>
            </div>

            <div class="form-group" *ngIf="dateType == 'earth'">
              <label for="earthDate">Earth Date</label>
              <input
                type="date"
                [(ngModel)]="earthDate"
                id="earthDate"
                [max]="rover.manifest.max_date"
                [min]="rover.manifest.landing_date"
              />
            </div>

            <div class="form-group" *ngIf="dateType == 'sol'">
              <label for="solDate"
                >Sol Date
                <small>(max: {{ rover.manifest.max_sol }})</small></label
              >
              <input
                type="number"
                [(ngModel)]="solDate"
                id="solDate"
                [max]="rover.manifest.max_sol"
                [min]="0"
              />
            </div>

            <button type="button" (click)="handleSaveSearchParams()">
              <img src="/assets/save.svg" alt="" />
              Save
            </button>

            <button
              type="button"
              (click)="handleResetPaginationAndSearch()"
              [disabled]="!selectedCamera || isSearching"
            >
              <img src="/assets/search.svg" alt="" />
              Find
            </button>
          </div>

          <div class="aligner" *ngIf="bookmarks.length">
            <button
              (click)="toggleFilterBox()"
              class="savedFilters"
              type="button"
            >
              <img *ngIf="!filtersOpened" src="/assets/bookmark.svg" alt="" />
              <img *ngIf="filtersOpened" src="/assets/close.svg" alt="" />
              Saved filters
            </button>
          </div>

          <div class="aligner" *ngIf="filtersOpened">
            <app-bookmark-list
              (emitter)="readBookmark($event)"
              [bookmarks]="bookmarks"
            ></app-bookmark-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content" *ngIf="photos.length">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <div id="photosContainer">
        <app-photo *ngFor="let photo of photos" [photo]="photo"></app-photo>
      </div>
    </div>
  </div>

  <app-not-found *ngIf="!photos.length && !isSearching"></app-not-found>
  <app-searching *ngIf="isSearching"></app-searching>
</div>

<app-go-top-button></app-go-top-button>
