.photoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s;
    opacity: 0;

    &.shown {
      opacity: 1;
    }
  }
}
