#goTopContainer {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  background-color: white;
  border-radius: 30px;
  display: flex;
  padding: 5px 15px;
  align-items: center;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px -10px black;
  font-size: 0.9rem;
  color: black;
  cursor: pointer;
}
