@import "~ngx-toastr/toastr";

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000;
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

* {
  user-select: none;
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

//Change some Toastr Styles
.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 10px 15px 10px 50px;
  width: 300px;
  border-radius: 12px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0px 0px 20px -12px black;
  color: white;
}
.toast-container .ngx-toastr:hover {
  box-shadow: inherit;
  opacity: 1;
  cursor: pointer;
}
.toast-success {
  background-color: #0b3d91;
}
.toast-message {
  font-size: 0.9rem;
  margin-top: 5px;
}
