#roversContainer {
  display: grid;
  position: relative;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  overflow: hidden;

  #logo {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 200px;
  }

  .roverContainer {
    .rover {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #202020;
        z-index: 0;

        /* transform: scale(1);
        transition: transform 200ms ease-in; */
      }

      img {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.35s, transform 0.35s, filter 0.35s;
        transform: scale(1.1);
        opacity: 0.8;
      }

      .information {
        position: relative;
        z-index: 30;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(50px);
        transition: transform 350ms;

        .title {
          font-weight: 800;
          font-size: 2.3rem;
          margin: 0;
          text-transform: uppercase;
          text-shadow: 0px 0px 8px black;
          transition: text-shadow 0.35s;
        }

        .line {
          height: 6px;
          width: 300px;
          max-width: 90%;
          margin: 10px auto;
          background-color: white;
          opacity: 0;
          transition: opacity 450ms;
        }

        .info-box {
          position: relative;
          max-width: 60%;
          text-align: center;
          opacity: 0;
          transition: opacity 500ms;

          div {
            position: relative;
            display: inline-block;
            margin-right: 20px;
          }
        }
      }

      .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
      }

      &:hover {
        img {
          transform: scale(1);
          opacity: 0.4;
        }

        .information {
          transform: translateX(0);

          .line,
          .info-box {
            opacity: 1;
          }

          .title {
            text-shadow: none;
          }
        }
      }
    }
  }
}

#searchContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
