<div id="roversContainer" *ngIf="rovers.length">
  <img src="/assets/logo.svg" alt="NASA logo" id="logo" />

  <div class="roverContainer" *ngFor="let rover of rovers">
    <div class="rover">
      <img
        [src]="'/assets/rovers/' + rover.slug + '.jpg'"
        [alt]="rover.name + ' rover image'"
      />
      <div class="overlay"></div>

      <div class="information">
        <h2 class="title">{{ rover.name.toLocaleUpperCase() }}</h2>
        <div class="line"></div>
        <div class="info-box">
          <div>&bull; {{ rover.manifest?.total_photos }} photos</div>
          <div>&bull; Launch on: {{ rover.manifest?.launch_date }}</div>
          <div>&bull; Land on: {{ rover.manifest?.landing_date }}</div>
          <div>&bull; {{ rover.manifest?.status?.toLocaleUpperCase() }}</div>
        </div>
      </div>

      <a class="link" routerLink="{{ rover.slug }}"></a>
    </div>
  </div>
</div>

<div id="searchContainer">
  <app-searching *ngIf="!rovers.length"></app-searching>
</div>
